body{
    margin: 0px;
    border-spacing: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.container{

    margin: 0px;
    padding-left: 4%;
    padding-right: 4%;
}

.summary{
    border-right: 1px solid black;
    float:left;
}

.content{
    
}

.heading{
    font-weight: 400;
    font-size: 1.8em;
}
