body{
    margin: 0px;
    border-spacing: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    display: flex;
}

.container{    
    padding-left: 4%;
    padding-right: 4%;
}

.summary{
    border-right: 1px solid black;
}

.heading{
    font-weight: 400;
    font-size: 1.8em;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: black;
}
